@import '../../../../shared/assets/styles/scss/_variables';
:host {
  ::ng-deep {
    .mat-form-field-disabled {
      .mat-form-field-outline {
        background: #f0f0f0;
      }
      input {
        color: #b0b0b0;
      }
    }

    .mat-checkbox-checked {
      .mat-checkbox-frame {
        background-color: rgba(0, 0, 0, 0.54);
      }
    }
  }

  :host {
    font-family: sans-serif;
    font-size: 16px;
  }

  .signin-section {
    padding: 50px;
    .signin-form {
      padding-left: 35px;
    }
  }

  .header-section {
    font-size: 40px;
    line-height: 51px;
  }

  .page-description {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;

    color: #4b4f5a;
  }


  .mat-flat-button {
    &[disabled] {
      background: #c7c7c7;
    }

    &.mat-secondary {
      background: #e5e5e5;
      color: #4b4f5a;
    }

    &.mat-primary {
      background: #4b4f5a;
      color: white;
    }

    border-radius: 2px;

    padding: 4px 30px;
  }

  form a {
    text-decoration: underline;
  }
  .form-input-wrap {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;

    color: #4b4f5a;
  }

  .mat-form-field-wrapper {
    &:last-child {
      padding-bottom: 0;
    }
  }

  .egret-navy .mat-button {
    background: #e5e5e5;
    border-radius: 0;
  }
  mat-form-field .mat-form-field-wrapper {
    background-color: #c7c7c7;
  }

  .column-gap {
    border: 1px solid #000000;
    width: 1px;
    height: 70%;
  }
}

.header-profile {
  font-size: 20px;
  text-align: center;

  color: #4b4f5a;
}
.section-1 {
  font-size: 20px;
  line-height: 25px;

  color: #4b4f5a;
  .circle-number {
    border: 2px solid #4b4f5a;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
  }
}
.mat-stroked-button {
  background: #4b4f5a;
  border-radius: 2px;
  font-family: sans-serif;
  padding: 5px 36px;
  &.mat-primary {
    color: white !important;
    font-size: 16px;
  }
  &[disabled]{
    background: #c7c7c7;
  }
}

.app-admin-container.navigation-top .rightside-content-hold {
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.btn-add-first-item {
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  text-decoration-line: underline;
  color: #4B4F5A
}

.icon-add-item {
  vertical-align: bottom;
  margin-right: 15px;
}

.text-add-item {
  text-decoration: underline;
}

.medication-prices-table {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse; /* here is the devil */
  min-width: max-content;

  thead {
    th {
      padding-bottom: 10px;
    }
  }

  th, td {
    text-align: left !important;
    padding: 5px;
    font-size: 16px;
    line-height: 17px;
    color: #4B4F5A;
  }
}


.base-container > .header-container{
  margin-bottom: 42px;
  .headline{
    font-size: $font-size-xl !important;
  }
}
