<h1 class="pl-1 margin-bottom-15">
  {{ (isNew ? 'ADD' : 'MODIFY') | translate }}
</h1>

<div class="pl-1">
  <div class="alert alert-danger" *ngIf="!!errorsMessages">
    {{ errorsMessages }}
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label translate>BENEFITS_PROVIDER_NAME</mat-label>
          <input matInput formControlName="name" name="name" placeholder="{{ 'BENEFITS_PROVIDER_NAME' | translate }}" />
        </mat-form-field>
      </div>

      <!-- ############################## -->

      <div fxFlex="100" class="mt-1 mr-1">
        <div fxFlex="10" class="mt-1 mr-1">
          <button mat-button color="warn" type="button" (click)="buildForm(category)">
            {{ 'RESET' | translate }}
          </button>
        </div>

        <div fxFlex="10" class="mt-1 mr-1">
          <button mat-raised-button color="primary" [disabled]="form.invalid" id="submit-btn">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
