<div class="box-detail-container">
    <div class="box-detail">
        <div fxLayout="row wrap" fxLayoutAlign="end flex-end" class="close-modal" (click)="dialogRef.close(false)">
            <mat-icon class="close-icon" matSuffix>highlight_off</mat-icon>
            <a class="text-underline pl-4">{{ 'CLOSE' | translate }}</a>
        </div>
        <div class="header-container">
            <div class="header-nav">
                <h1 class="headline">
                    Guardar Perfilado
                </h1>
                <p translate>
                    Al guardar estos datos podrá utilizarlos en la creación de nuevas estrategias.
                </p>
            </div>
        </div>
    </div>
    <div class="box-detail">
        <form class="profile-form" [formGroup]="form"  fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxFlex="100" fxFlex.gt-sm="350px">
                <div class="row-detail mb-70 mt-44 full-width">
                    <mat-label class="mb-10">{{'PROFILE_NAME' | translate}} *</mat-label>
                    <mat-form-field appearance="outline" class="full-width">
                        <input
                        matInput
                        formControlName="name"
                        name="name"
                        placeholder="{{ 'SET_PROFILE_NAME' | translate }}"
                        />
                    </mat-form-field>
                </div>
                
                <div fxLayout="row nowrap" fxLayout.lt-sm="columnn" fxLayoutAlign="center center" fxLayoutGap="22px">
                    <button fxFlex class="outline-btn"
                        (click)="dialogRef.close(false)"
                        mat-raised-button
                        color="secondary"
                        type="button">
                        Cancelar
                    </button>
                    <button
                        mat-flat-button
                        class="tot-default-submit-btn"
                        color="primary"
                        id="submit-btn"
                        (click)="submit()"
                    >
                    {{ 'SAVE' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
