<div class="base-container">
  <div class="box-detail table-layout">
    <div class="mb-24">
      <flash-messsage-auto-hide [options]="messageOptions"></flash-messsage-auto-hide>
    </div>
    <div class="table-layout-wrap">
      <div class="header-container">
        <div class="header-nav">
          <h1 class="headline" translate>PRODUCTS</h1>
        </div>
      </div>

      <div class="row-detail" animationDuration="0ms">
        <div fxLayout="row wrap" fxLayoutGap="22px">
          <div fxFlex="100" fxFlex.gt-sm="auto" fsLayout="row">
            <mat-form-field  fxFlex="100" fxFlex.gt-sm="453px" class="full-width mat-search" appearance="outline">
                <input
                matInput
                type="search"
                name="search"
                id="search-keyword"
                class="mdc-text-field--no-label"
                searchInput
                placeholder="{{ 'SEARCH_BY_PRODUCT_NAME' | translate }}"
                [(ngModel)]="keyword"
                (keyup)="searchAndFilter({ keyword: $event.target.value })"
                />
                <mat-icon class="text-grey-B000" matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex="nogrow">
          <button
                mat-raised-button
                class="float-right add-new ml-05 mb-05 green-button"
                color="primary"
                (click)="openPopUp({}, true)"
            >
                + {{ 'NEW' | translate }}
            </button>
            <button
                mat-raised-button
                class="float-right ml-05 mb-05 green-button"
                [disabled]="selected.length == 0"
                color="primary"
                (click)="deleteItems(selected)"
            >
                - {{ 'DELETE' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="row-detail">
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="22px">
          <div fxFlex fxLayout="column">
            <mat-label>{{ 'PHARMACEUTICAL' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="mat-select-tot-style">
                <mat-select [(value)]="pharmaceuticalCompany"
                (selectionChange)="searchAndFilter({ pharmaceuticalCompany: $event.value, medicationCategory: medicationCategory })"
                name="pharmaceuticalCompany">
                <mat-option value="ALL">{{ 'ALL' | translate }}</mat-option>
                <mat-option *ngFor="let company of pharmaceuticalCompanies" [value]="company.id">
                    {{ company.name }}
                </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="column">
            <mat-label>{{ 'CATEGORY' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="mat-select-tot-style">
                <mat-select
                [(value)]="medicationCategory"
                (selectionChange)="searchAndFilter({ medicationCategory: $event.value })"
                name="medicationCategory">
                <mat-option value="ALL">{{ 'ALL' | translate }}</mat-option>
                <mat-option *ngFor="let category of medicationCategories" [value]="category.id">
                    {{ category.name }}
                </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row-detail">
        <div class="row pagelimit-container">
          <datatable-page-limit [(limit)]="pageLimit"></datatable-page-limit>
        </div>
      </div>
    </div>

    <div animationDuration="0ms">
      <div class="clearfix table-container">
        <mat-card-content class="p-0">
            <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="rows"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="25"
            [rowHeight]="'auto'"
            [messages]="datatableMessages"
            [selected]="selected"
            [selectionType]="'checkbox'"
            [selectAllRowsOnPage]="false"
            (select)="onSelect($event)"
            >
            <ngx-datatable-column
                [width]="38"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
            >
            </ngx-datatable-column>

            <ngx-datatable-column sort-active name="{{ 'MEDICATION' | translate }}" [flexGrow]="1" [width]="243">
                <ng-template let-row="row" ngx-datatable-cell-template>
                <a color="primary" class="mr-1 text-underline edit-btn" (click)="openDetail(row)">
                    {{ row?.name }}
                </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column sort-active name="{{ 'CODE' | translate }}" [flexGrow]="1" [width]="117">
                <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.code }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column sort-active name="{{ 'CATEGORY' | translate }}" [flexGrow]="1" [width]="117">
                <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.medication_category_name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column sort-active name="{{ 'PHARMACEUTICAL' | translate }}" [flexGrow]="1" [width]="250">
                <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.pharmaceutical_company_name }}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column sort-active name="{{ 'ACTIONS' | translate }}" [flexGrow]="1" width="390">
                <ng-template let-row="row" ngx-datatable-cell-template>
                <a color="primary" class="mr-1 text-underline edit-btn" (click)="editMedication(row)">
                    <span translate>EDIT</span>
                </a>
                <a color="warn" class="mr-1 text-underline delete-btn" (click)="deleteItems([row])">
                    <span translate>DELETE</span>
                </a>
                </ng-template>
            </ngx-datatable-column>
            </ngx-datatable>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
