<div class="base-container box-detail-container">
  <div class="box-detail pb-32">
    <div class="header-container">
      <div class="header-nav">
        <h1 class="headline">{{medication.name}}</h1>
        <div class="breadcrumb">
          <a routerLink="/dashboard/medications">{{ 'MEDICATIONS' | translate }}</a>
          <span>{{medication.name}}</span>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="end flex-end" fxLayoutGap="32px" class="action-button-detail">
        <a class="mat-color-primary text-underline pl-4" routerLink="/dashboard/medications/{{medication.id}}/edit">{{ 'EDIT' | translate }}</a>
        <a class="mat-color-primary text-underline pl-4" (click)="deleteItem()">{{ 'DELETE' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="box-detail">
    <div class="label-info mt-10 mb-50">
      {{ 'PRODUCT_INFORMATION' | translate }}
    </div>

    <div class="row-detail">
      <div fxLayout="row nowrap">
        <div fxFlex="100" fxFlex.gt-xs="200px">
          <img [src]="medication.logo_url" class="full-width">
        </div>
      </div>
    </div>
    
    <div class="row-detail">
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" fxLayoutGap="22px">
        <div fxFlex="50"fxFlex.gt-md="320px">
          <div class="label-field">{{'PHARMACEUTICAL' | translate}}</div>
          <div class="label-field">{{medication.pharmaceutical_company_name}}</div>
        </div>

        <div fxFlex="50" fxFlex.gt-md="320px">
          <div class="label-field">{{'PHARMACEUTICAL_ID' | translate}}</div>
          <div class="label-field">{{ medication.pharmaceutical_company_id }}</div>
        </div>
      </div>
    </div>

    <div class="row-detail">
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" fxLayoutGap="22px">
        <div fxFlex="50"fxFlex.gt-md="320px">
          <div class="label-field">{{'PRODUCT_ID' | translate}}</div>
          <div class="label-field">{{ medication.code }}</div>
        </div>

        <div fxFlex="50" fxFlex.gt-md="320px">
          <div class="label-field">{{'CATEGORY' | translate}}</div>
          <div class="label-field">{{ medication.medication_category_name }}</div>
        </div>
      </div>
    </div>

    <div class="row-detail">
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" fxLayoutGap="22px" *ngFor="let medication_presentation of medication.medication_presentations_attributes">
        <div fxFlex="50"fxFlex.gt-md="320px">
          <div class="label-field">{{'PRESENTATION' | translate}}</div>
          <div class="label-field">{{ medication_presentation.presentation_type | uppercase | translate }}</div>
        </div>

        <div fxFlex="50" fxFlex.gt-md="320px">
          <div class="label-field">{{'AMOUNT_FOR_PRECRIPCION' | translate}}</div>
          <div class="label-field">{{ medication_presentation.presentation_content }}</div>
        </div>
      </div>
    </div>

    <div class="row-detail">
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" fxLayoutGap="22px">
        <div fxFlex="50"fxFlex.gt-md="320px">
          <div class="label-field">{{'AVERAGE_DOSAGE' | translate}}</div>
          <div class="label-field">
            {{'ADULT_LABEL' | translate}}
            <span> {{ medication.adults_dosification_amount }} </span>
            gotas cada
            <span> {{ medication.adults_dosification_frequency_measure }} </span>
            <span> {{ (medication.adults_dosification_frequency == 'hours' ? 'HOURS' : 'DAYS') | translate }} </span>
          </div>
          <div class="label-field">
            {{'CHILDREN_LABEL' | translate}}
            <span> {{ medication.children_dosification_amount }} </span>
            gotas cada
            <span> {{ medication.children_dosification_frequency_measure }} </span>
            <span> {{ (medication.children_dosification_frequency == 'hours' ? 'HOURS' : 'DAYS') | translate }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row-detail">
      <div fxLayout="row nowrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <div class="label-field">{{'DESCRIPTION' | translate}}</div>
          <div class="label-field">{{ medication.description }}</div>
        </div>
      </div>
    </div>

    <div class="row-detail">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100" class="mt-10 mb-50">
          <span class="label-field">{{'AVAILABLE_IN' | translate}}</span>
          <div class="table-responsive">

            <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="medication.medication_prices_attributes"
              [columnMode]="'force'"
              [headerHeight]="'auto'"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="1000"
              [rowHeight]="'auto'"
              [messages]="datatableMessages"
            >
              <ngx-datatable-column name="{{ 'COUNTRY' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.country_name }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'CURRENCY' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.country_code }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'SUGGESTED_PRICE' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.price }}
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="action-row">
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-20 mb-50">
    <button mat-flat-button class="tot-default-submit-btn outline-btn" routerLink="/dashboard/medications">
      Volver
    </button>
  </div>
</div>
