<div class="box-detail">
  <div fxLayout="row wrap" fxLayoutAlign="end flex-end" class="close-modal" (click)="dialogRef.close(false)">
    <mat-icon class="close-icon" matSuffix>highlight_off</mat-icon>
    <a class="text-underline pl-4">{{ 'CLOSE' | translate }}</a>
  </div>
  <div class="header-container">
    <div class="header-nav">
      <h1 class="headline" translate>
        {{ isNew ? 'ADD_NEW_COMPANY' : 'MODIFY_NEW_COMPANY' }}
      </h1>
      <p translate>
        <span *ngIf="step == 1" translate>CHOOSE_PROCESS_ADD_COMPANY</span>
        <span *ngIf="step == 2" translate>PROCESS_FORM</span>
      </p>
    </div>
  </div>
</div>
<div class="box-detail">
  <form 
    [formGroup]="form"
    (ngSubmit)="submit()">
      <!-- **************** STEP 1 **************** -->
      <div *ngIf="step == 1" fxLayout="row nowrap" fxLayout.lt-sm="column">
        <!-- Left Side content -->
        <div fxFlex="50" fxLayoutAlign="center" class="p-10">
          <div fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
            <app-data-importing importType="companies" fxLayout="column wrap" fxFlex="100" fxFlex.gt-sm="430px">
              <p class="label-info">
                {{ 'IMPORT_COMPANY_FROM_CSV' | translate }}
                <br/>
                <a class="text-underline" translate>EXAMPLE_CSV_FILE</a>
              </p>
            </app-data-importing>
          </div>
        </div>

        <!-- split -->
        <div fxFlex>
          <div class="split-primary" fxHide.gt-xs>
          </div>
          <div class="vertical-split-primary" fxHide.lt-xs>
          </div>
        </div>

        <!-- Right side content -->
        <div fxFlex="50" fxLayoutAlign="center" class="p-10">
          <form [formGroup]="form" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
            <div fxFlex="100" fxFlex.gt-sm="430px">
              <p class="label-info">
                {{ 'ADD_NEW_COMPANY_USER' | translate }}
              </p>

              <div class="modal-form-container">
                <div>
                  <mat-label>{{'USER_TYPE' | translate}} *</mat-label>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-select formControlName="type" name="type" (selectionChange)="changeCompanyType()">
                      <mat-option *ngFor="let type of typeOfcompaniesCollection" [value]="type.value">
                        {{ type.label }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <mat-label translate>ROLE</mat-label>
                  <input-disabled-with-icon appearance="outline" class="full-width" controlName="role"></input-disabled-with-icon>
                </div>
              </div>

              <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-auto mb-70">
                <button  mat-flat-button class="tot-default-submit-btn" color="primary" (click)="continue()">
                  {{ 'CONTINUE' | translate }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- **************** STEP 2 **************** -->
      <div [perfectScrollbar]="{}" *ngIf="step == 2">
        <div>
          <a
              class="text-underline"
              *ngIf="isNew"
              (click)="back()">{{ 'BACK' | translate }}</a>
        </div>

        <div>
          <app-flash-messsage
            *ngIf="errorsMessages"
            class="full-width mb-24"
            type="danger"
            [message]="errorsMessages"
          ></app-flash-messsage>
        </div>

        <div>
          <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
            <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
              <div fxFlex="100" fxFlex.gt-sm="350px">
                <mat-label disabled>{{ 'USER_TYPE' | translate }} *</mat-label>
                <mat-form-field class="full-width mat-form-filled" appearance="outline">
                  <mat-select
                      formControlName="type"
                      name="type"
                      [disabled]="!this.isNew"
                      (selectionChange)="changeCompanyType()">
                    <mat-option *ngFor="let type of typeOfcompaniesCollection" [value]="type.value">
                      {{ type.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div fxFlex="50"fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
              <div fxFlex="100" fxFlex.gt-sm="350px">
                <mat-label disabled>{{'ROLE' | translate}} *</mat-label>
                <input-disabled-with-icon controlName="role"></input-disabled-with-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="split m-0"></div>

        <div class="mt-24 mb-24">
          <app-user-info-fields [form]="form"></app-user-info-fields>
        </div>

        <div class="split m-0"></div>

        <div>
          <company-fields [form]="form" [type]="form.value['type']"></company-fields>
        </div>

        <div class="split"></div>

        <div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="22px">
            <div fxFlex.lt-sm="100">
              <button mat-flat-button class="tot-default-submit-btn dark-btn" (click)="createAndAddAnotherCompany()">
                {{ 'ADD_ANOTHER_COMPANY' | translate }}
              </button>
            </div>
            <div fxFlex.lt-sm="100">
              <button mat-flat-button class="tot-default-submit-btn" color="primary" id="submit-btn" [disabled]="form.invalid">
                {{ 'FINISH' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>
