<div class="base-container">
  <div class="box-detail table-layout">
    <div class="table-layout-wrap">
      <div class="header-container">
        <div class="header-nav">
          <h1 class="headline" translate>STRATEGIES</h1>
        </div>
      </div>

      <div class="row-detail" animationDuration="0ms">
        <div fxLayout="row wrap" fxLayoutGap="22px">
          <div fxFlex="100" fxFlex.gt-xs="auto" fsLayout="row">
            <mat-form-field  fxFlex="100" fxFlex.gt-sm="453px" class="full-width mat-search" appearance="outline">
              <input
                matInput
                type="search"
                name="search"
                placeholder="{{ 'SEARCH_NAME_OR_SPONSOR' | translate }}"
                class="mdc-text-field--no-label"
                searchInput
                [(ngModel)]="filterOptions.keyword"
              />
              <mat-icon class="text-grey-B000" matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex="nogrow">
            <button
              mat-raised-button
              class="float-right add-new ml-05 mb-05 green-button"
              color="primary"
              routerLink="/dashboard/strategies/new"
            >
              + {{ 'NEW' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="row-detail">
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="22px">
          <div fxFlex fxFlex.gt-xs="33" fxLayout="column">
            <mat-label>{{ 'PHARMACEUTICAL' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="mat-select-tot-style">
                <mat-select [(value)]="pharmaceuticalCompany"
                (selectionChange)="searchAndFilter({ pharmaceuticalCompany: $event.value, medicationCategory: medicationCategory })"
                name="pharmaceuticalCompany">
                <mat-option value="ALL">{{ 'ALL' | translate }}</mat-option>
                <mat-option *ngFor="let company of pharmaceuticalCompanies" [value]="company.id">
                    {{ company.name }}
                </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex fxFlex.gt-xs="33" fxLayout="column">
            <mat-label>{{ 'CATEGORY' | translate }}</mat-label>
            <mat-form-field appearance="outline" class="mat-select-tot-style">
                <mat-select
                [(value)]="medicationCategory"
                (selectionChange)="searchAndFilter({ medicationCategory: $event.value })"
                name="medicationCategory">
                <mat-option value="ALL">{{ 'ALL' | translate }}</mat-option>
                <mat-option *ngFor="let category of medicationCategories" [value]="category.id">
                    {{ category.name }}
                </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row-detail">
        <div class="row pagelimit-container">
          <datatable-page-limit [(limit)]="pageLimit"></datatable-page-limit>
        </div>
      </div>
    </div>

    <div animationDuration="0ms">
      <div class="clearfix table-container">
        <mat-card-content class="p-0">
            <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="rows | filerConditions:filterOptions.keyword:'name':{isContain: true}"
              [columnMode]="'force'"
              [headerHeight]="'auto'"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="25"
              [rowHeight]="'auto'"
              [messages]="datatableMessages"
              [selectAllRowsOnPage]="false"
            >
              <ngx-datatable-column
                [width]="50"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
              >
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'Id' }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.id }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'STRATEGY_NAME' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a class="text-underline" (click)="openDetail(row)">{{ row?.name }}</a>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'SPONSOR' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.sponsor }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'TYPE' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.strategy_type_name }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'LAUNCHING_DATE' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.initial_date | date: 'dd/MM/yyyy' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'EXPIRATION_DATE' | translate }}" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.end_date | date: 'dd/MM/yyyy' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'ACTIONS' | translate }}" [flexGrow]="1" width="400">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a color="primary" class="mr-1 text-underline edit-btn" (click)="editStrategy(row)">
                    <span translate>EDIT</span>
                  </a>
                  <a color="warn" class="mr-1 text-underline delete-btn" (click)="deleteItem(row)">
                    <span translate>DELETE</span>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>
