<ng-container [formGroup]="form">
  <div formGroupName="address_attributes">
    <div>
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
        <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label>{{'COUNTRY' | translate}} *</mat-label>
            <country-list [form]="form.get('address_attributes')"></country-list>
          </div>
        </div>
        <div fxFlex="50"fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label>{{'PROVINCE' | translate}} *</mat-label>
            <province-list [form]="form.get('address_attributes')"></province-list>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
        <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label>{{'CANTON' | translate}} *</mat-label>
            <canton-list [form]="form.get('address_attributes')"></canton-list>
          </div>
        </div>

        <div fxFlex="50"fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label>{{'DISTRICT' | translate}} *</mat-label>
            <district-list [form]="form.get('address_attributes')"></district-list>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
        <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label>{{'SUBURB' | translate}} *</mat-label>
            <suburb-list [form]="form.get('address_attributes')"></suburb-list>
          </div>
        </div>

        <div fxFlex="50"fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label>{{'ADDRESS_NOTE' | translate}} *</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input matInput formControlName="note" type="text" name="address_note"
                placeholder="{{ 'ADDRESS_NOTE' | translate }}" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>