<div class="box-detail">
  <div fxLayout="row wrap" fxLayoutAlign="end flex-end" class="close-modal" (click)="dialogRef.close(false)">
    <mat-icon class="close-icon" matSuffix>highlight_off</mat-icon>
    <a class="text-underline pl-4">{{ 'CLOSE' | translate }}</a>
  </div>
  <div class="header-container">
    <div class="header-nav">
      <h1 class="headline">Agregar nuevos productos</h1>
      <p translate>
          MEDICATION_POPUP_FORM_SUBTITLE
      </p>
    </div>
  </div>
</div>
<div class="box-detail">
  <!-- Left Side content -->
  <div  fxLayout="row nowrap" fxLayout.lt-sm="column">
    <div fxFlex="50" fxLayoutAlign="center" class="p-10">
      <form
      [formGroup]="formUploadCsv"
      (ngSubmit)="submit()"  fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
        <div fxLayout="column wrap" fxFlex="100" fxFlex.gt-sm="380px">
          <p class="label-info">
            {{ 'IMPORT_MEDICATIONS_FROM_CSV' | translate }}
            <br/>
            <a class="text-underline" translate>EXAMPLE_CSV_FILE</a>
          </p>

          <div class="modal-form-container">
            <label class="label-field">{{'MEDICATIONS_CEV_LABEL' | translate}} *</label>
            <app-upload-file
            name="csv_file_url"
            [control]="formUploadCsv.controls.csv_file_url"
            [inputId]="'csv-file-url'"
            acceptType=".csv"
            placeholder="Seleccione un archivo"
            >
            </app-upload-file>
          </div>

          <div class="mt-auto">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <button mat-flat-button class="tot-default-submit-btn" color="primary">
                {{ 'VALIDATE' | translate }}
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>

    <!-- split -->
    <div fxFlex>
      <div class="split-primary" fxHide.gt-xs>
      </div>
      <div class="vertical-split-primary" fxHide.lt-xs>
      </div>
    </div>

    <!-- Right side content -->
    <div fxFlex="50" fxLayoutAlign="center" class="p-10">
      <form [formGroup]="form" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
        <div fxFlex="100" fxFlex.gt-sm="380px">
          <p class="label-info">
            {{ 'ADD_NEW_MEDICATION' | translate }}
          </p>

          <div class="modal-form-container">
            <div>
              <mat-label>Farmacéutica *</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select formControlName="pharmaceutical_company_id" name="pharmaceutical_company_id">
                  <mat-option *ngFor="let pharmaceuticalCompany of pharmaceuticalCompanies" [value]="pharmaceuticalCompany.id">
                  {{ pharmaceuticalCompany.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-label>{{'PRODUCT_NAME' | translate}} *</mat-label>
              <mat-form-field appearance="outline" class="full-width">
              <input
                matInput
                formControlName="name"
                name="name"
                placeholder="{{ 'PRODUCT_NAME' | translate }}"
              />
              </mat-form-field>
            </div>

            <div>
              <mat-label>Categoría *</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select formControlName="medication_category_id" name="medication_category_id">
                  <mat-option *ngFor="let medicationCategory of medicationCategories" [value]="medicationCategory.id">
                  {{ medicationCategory.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-auto">
            <button mat-flat-button class="tot-default-submit-btn" color="primary" (click)="continue()">
              {{ 'CONTINUE' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> 
