<mat-form-field [formGroup]="parentForm" class="full-width" appearance="outline">
  <input
    matInput
    formControlName="{{ name }}"
    [type]="hide ? 'password' : 'text'"
    name="{{ name }}"
    placeholder="{{ placeholder }}"
  />
  <mat-icon (click)="hide = !hide" class="text-grey-B000" matSuffix>{{
    hide ? 'visibility_off' : 'visibility'
  }}</mat-icon>
</mat-form-field>

<div fxLayout="row wrap" fxLayout.xs="column" class="valid-password-validator">
  <div fxFlex="55">
    <mat-checkbox disabled [checked]="minimumCheck()">{{ 'PASSWORD_MINLENGTH' | translate }}</mat-checkbox>
  </div>

  <div fxFlex="45">
    <mat-checkbox disabled [checked]="upperCaseCharactersCheck()">{{ 'HAS_UPPERCASE' | translate }}</mat-checkbox>
  </div>

  <div fxFlex="55">
    <mat-checkbox disabled [checked]="specialCharactersCheck()">{{
      'HAS_SPENCIAL_CHARACTERS' | translate
    }}</mat-checkbox>
  </div>

  <div fxFlex="45">
    <mat-checkbox disabled [checked]="numberCheck()">{{ 'HAS_NUMBER' | translate }}</mat-checkbox>
  </div>
</div>
