/*-------------- Loading buttons --------------*/
.button-loading {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
}
.btn-spinner {
  width: 1em;
  height: 1em;
  background: transparent;
  border-radius: 50%;
  margin: 0 16px 0 0;
  border: 2px solid transparent;
  animation: btn-glow 1s ease infinite;
}

@keyframes btn-glow {
  0% {
    box-shadow: 0 0 0 0.4em darken(#777676, 10%), 0 0 0 0.1em darken(#777676, 10%);
    transform: rotate(360deg);
  }
  50% {
    border-top-color: #777676;
  }
  100% {
    box-shadow: 0 0 0 0.4em darken(#777676, 10%), 0 0 0 3.6em transparent;
  }
}

.mat-flat-button {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;

  &.mat-primary {
    color: white;
    border-radius: 2px;
    padding: 4px 30px;
    background: $primary;

    &[disabled] {
      background: #c7c7c7;
    }
  }

  &.mat-secondary {
    border-radius: 2px;
    padding: 4px 30px;
    background: #e5e5e5;
    color: $primary;
  }
}

.mat-raised-button {
  &.add-new {
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: $primary;
    padding: 3px 22px;
    border-radius: 0px;
  }
}

.egret-navy {
  .mat-flat-button,
  .mat-raised-button {
    &.mat-primary {
      background-color: $primary;
      color: white;
    }
  }
}
