.cdk-global-overlay-wrapper{
    padding: 20px;
}
.cdk-overlay-pane{
  max-width: 100% !important;
  width: auto !important
}
// confirmations
.modal-confirmation{
    @include md{
        width: 688px;
    }
}

mat-dialog-container.mat-dialog-container {
  // padding: 0;
  height: auto;
  width: 100%;
  max-height: calc(100vh - 40px);

  // wrap
  .box-detail{
    margin: -24px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 32px !important;
    &:last-child:before{
      content: none;
      margin-bottom: -24px;
    }
    + .box-detail{
      margin-top: 24px;
    }
    @include lg{
        width: 950px;
    }
    @include xl{
        width: 1000px;
    }
    @include lg-angular{
        width: 1220px;
    }
    &.modal-confirmation{
        @include md{
            width: 688px;
        }
    }
  }
  // close
  .close-modal{
    position: absolute;
    right: 32px;
    top: 22px;
    a{
      font-size: $default-font-size;
      color: $body-text-color;
      display:none;
      @include md{
        display: inline-block;
      }
    }
  }
  // headline
  .header-container{
    .headline{
      font-size: $font-size-xl !important;
    }
    &:last-child{
      margin-bottom: 0
    }
    padding-top: 0;
    padding-right: 40px;
    @include md{
      padding-right: 100px;
    }
    .header-nav > *:last-child{
      margin-bottom: 30px;
    }
  }
  // label
   mat-label,
  .label-field{
    @include font-lato;
    line-height: normal;
    font-size: $font-size-sm;
    color: $body-text-color;
  }
  // label info
  .label-info{
    font-size: $font-size-lg;
    color: $primary;
    a{
      display: inline-block;
      margin-top: 14px;
      font-size: $font-size-sm;
    }
  }
  // form
  .modal-form-container{
    margin-top: 16px;
    > *{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 50px;
      }
    }
  }
  // confirmation
  .modal-confirmation{
    .close-modal{
      position: relative;
      top: auto;
      right: auto;
    }
    .header-container{
      padding-right: 0;
      margin: 22px 0 44px;;
      .headline,
      .header-nav{
        margin-bottom: 0;
      }
      .headline{
        font-size: $font-size-modal-lg !important;
        font-weight: normal !important;
      }
    }
    .mat-dialog-content{
      padding: 0;
      margin: 0 0 82px;
      ul{
        padding: 0;
        margin: 0;
      }
    }
  }
}
