.filter-group {
  font-size: 20px;
  border-bottom: 1px solid $primary-color;
  .filter-item {
    line-height: 25px;
    font-size: $font-size-lg;
    color: $body-text-color;
    margin-right: 40px;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 5px;
    font-weight: 300;
    &.active {
      border-bottom: 3px solid $primary-color;
      font-weight: 400;
    }
  }
}
