.filter-group {
  font-size: 20px;
  .filter-item {
    line-height: 25px;

    color: $primary;
    margin-right: 40px;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid #c4c4c4;
    }
  }
}
// filter
.row-card{
  .filter-group{
    border-bottom: 1px solid $primary-color;
    .filter-item{
      color: $body-text-color;
      font-size: $font-size-lg;
      display: inline-block;
      padding-bottom: 5px;
      font-weight: 300;
      &.active{
        font-weight: 400;
        border-color: $primary-color;
      }
    }
  }
}