<div fxLayout="row wrap" fxLayoutAlign="end flex-end" class="mt-12">
  <a class="mat-color-primary text-underline pl-4" (click)="dialogRef.close(false)">{{ 'CLOSE' | translate }}</a>
</div>

<div fxLayout="row wrap" class="clearfix">
  <div fxFlex="grow" class="page-description mt-40">
    <h1 class="header-section" translate>ADD_NEW_COMPANY</h1>
  </div>

  <form class="pharmaceutical-company-form full-width"
        [formGroup]="form"
        (ngSubmit)="submit()">

    <div [perfectScrollbar]="{}" fxLayout="row wrap" class="height-100vh-280px">
      <app-flash-messsage
        *ngIf="errorsMessages"
        class="full-width"
        type="danger"
        [message]="errorsMessages"
      ></app-flash-messsage>

      <company-fields position="1" [form]="form" [type]="form.get('type').value"></company-fields>

      <!-- ############################## -->
      <div fxFlex="100" class="mt-1 mr-1" style="text-align: center;">
        <button mat-stroked-button color="primary" id="submit-btn" [disabled]="form.invalid">
          {{ 'FINISH' | translate }}
        </button>
      </div>
    </div>

  </form>
</div>
