<div [formGroup]="form">
  <ng-container formGroupName="company">
    <div class="header-form-section mt-24 mb-24">
      <span class="circle-number">{{position}}</span>{{ 'COMPANY_INFORMATION' | translate }}
    </div>
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="50" class="pr-1">
        <mat-label>
          {{'PAGES.COMPANIES.NAME_OF' | translate}}
          {{('COMPANY_TYPE_TRANSLATIONS.' + type)  | translate}} *</mat-label>
        <mat-form-field class="full-width mb-24" appearance="outline">
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="{{'PAGES.COMPANIES.NAME_OF' | translate}} {{('COMPANY_TYPE_TRANSLATIONS.' + type)  | translate}}"/>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-label>
          {{'PAGES.COMPANIES.COMPANY_CODE' | translate}}
          {{('COMPANY_TYPE_TRANSLATIONS.' + type)  | translate}} *
        </mat-label>

        <mat-form-field class="full-width mb-24" appearance="outline">
          <input
              matInput
              formControlName="company_code"
              type="text"
              [textMask]="{ mask: maskForCompanyCode }" />
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100" class="pr-1">
          <mat-label>{{'LOGO_COMPANY' | translate}} *</mat-label>
          <app-upload-file
              name="logo_url"
              [control]="form.get('company.logo_url')"
              [inputId]="'logo-url-input'"
              [fileName]="''"
              validateDimensions100X100Enabled="true"
              hint="{{'IMAGE_100x100_HINT' | translate}}"
              placeholder="{{'SELECT_FILE' | translate}}"></app-upload-file>
        </div>
      </div>

      <address-fields [form]="form.get('company')"></address-fields>

      <ng-container *ngIf="type != 'Drugstore'">
        <hr class="width-80 mb-12 mt-12" />
        <billing-information-fields
            position="{{position + 1}}"
            [form]="form.get('company')"></billing-information-fields>
      </ng-container>

    </div>
  </ng-container>
</div>
