// Colors

$primary-green: #14CC14;

$topbar-background-color: #232731;
$secondary-topbar-background-color: #4B4F5A;

$primary: #4b4f5a;
$danger-color: #CD0000;
$primary-color: #00CD00;
$dark-color: #000009;
// layout-colors
$body-text-color: #232731;
$background-signin: #232731;
$background-dark: #232731;
// button-colors
$disabled-button-color: #4B4F5A;
$disabled-button-background: rgba(205, 205, 205, 0.75);
// input-colors
$disabled-input-background:#cfc0c0;
// placeholder-colors
$placeholder-color: #8B8B8B;
// divisions-colors
$division-border-color-gray: #e4e4e4;
// text
$disabled-color: #B0B0B0;


// Navigation

$topbar-font-size: 20px;
$topbar-font-color: white;
$topbar-links-font-weight: 300;
$topbar-links-font-weight-selected: 700;

$secondary-topbar-name-font-weight: 400;
$secondary-topbar-font-color: white;
$secondary-topbar-icons-color: #A5A7AC;

// Secondary Navigation
$row-detail-margin-bottom: 10px;