// Utils
@import './definitions';
@import '../scss/mixins/mixins';
@import '../scss/variables';
@import '../scss/colors';


hr.division{
  height: 0px;
  border: 1px solid $division-border-color-gray;
}

mat-card.mat-card {
  border-radius: unset !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: unset !important;
  padding-top: unset !important;
}

.pointer{
  cursor: pointer;
}

// Text

.text-right-important{
  text-align: right !important;
}

.text-center{
  text-align: center !important;
}

.font-13{
  font-size: 13px;
}

// Grid

.xs-column{
  width: 45px !important;
}

// Spacing

.padding-l-15{
  padding-left: 15px;
}

.margin-b-20{
  margin-bottom: 20px;
  display: block;
}

.margin-b-10{
  margin-bottom: 20px;
  display: block;
}

.margin-t-20{
  margin-top: 20px;
}

.margin-t-10{
  margin-top: 10px;
}

.margin-t-5{
  margin-top: 5px;
}

.padding-20{
  padding: 20px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-b50 {
  margin-bottom: 50px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.margin-horizontal-05rem {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.center{
  margin: 0 auto;
}

// Visibility

.display-none{
  display: none !important;
}

.d-inline {
  display: inline;
}

.display-block{
  display: block !important;
}

// Sizing

.half-width {
  width: 50% !important;
}

.width-120 {
  width: 120px !important;
}

.width-90{
  width: 90%;
}

// Layout

.egret-navy .mat-drawer-container {
  background-color: white
}

// Flash messages

app-flash-messsage{
  mat-card.mat-card{
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

// States

.reactivate{
  color: $primary-color;
}

// Borders

.green-border {
  border-color: $primary-color !important;
}

// Colors

.grey-color{
  color: #8c8b8b;
}


// profile container
.profile-container{
  max-width: 1156px;
  margin: 0 auto;

  // nav
  .header-profile-container{
    @include flex-content-row;
    align-items: center;
    margin-bottom: 62px;
    // container nav
    .header-profile-nav{
      width: 100%;
    }
    // title
    .header-profile-show {
      @include font-lato;
      width: 100%;
      font-size: 30px !important;
      font-weight: bold !important;
      display: block !important;
      color: $dark-color !important;
      line-height: 1 !important;
    }
    // breadcrumb
    .breadcrumb{
      a{
        color: $body-text-color;
        font-size: $font-size-md;
        text-decoration: underline;
        &:after{
          content: ">";
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          margin-right: 10px;
          text-decoration: none;
        }
        &:last-child:after{
          content: none;
        }
      }
    }
  }
}

// cards
.card-info,
.card-info.profile-section{
  @include font-lato;
  // container
  position: relative;
  padding: 20px !important;
  margin: 0 auto $row-card-margin-bottom;
  @include radius-box-card;
  &:last-child{
    margin-bottom: 0;
  }
  @include md{
    padding: 32px 47px !important;
  }
  // decoration
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    height: 3px;
    width: 100%;
  }

  // labels
  .label-field,
  .profile-field{
    color: $primary;
    font-size: $default-font-size;
  }
  // names
  .label-info,
  .profile-info{
    color: $disabled-color;
    font-size: $font-size-md;
    min-height: 22px;
  }
  // headline section
  .section-header{
    font-weight: bold;
    font-size: $font-size-lg;
    color: $primary;
    margin-bottom: 32px;
  }
  .row-card{
    margin-bottom: $row-card-margin-bottom;
    &:last-child{
      margin-bottom: 0;
    }
    @include md{
      width: 80%;
      margin: 0 auto;
    }
  }
}


// buttons
.green-button {
  display: block;
  color: $body-text-color;
  font-size: $default-font-size;
  @include degrade-primary;
  color: $body-text-color;
  padding: 22px 15px;
  min-width: 165px !important;
}