// Utils
@import './definitions';
@import '../scss/mixins/mixins';
@import '../scss/variables';
@import '../scss/colors';


hr.division{
  height: 0px;
  border: 1px solid $division-border-color-gray;
}

mat-card.mat-card {
  border-radius: unset !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: unset !important;
  padding-top: unset !important;
}

.pointer{
  cursor: pointer;
}

// Text

.text-right-important{
  text-align: right !important;
}

.text-center{
  text-align: center !important;
}

.font-13{
  font-size: 13px;
}

// Grid

.xs-column{
  width: 45px !important;
}

// Spacing

.padding-l-15{
  padding-left: 15px;
}

.margin-b-20{
  margin-bottom: 20px;
  display: block;
}

.margin-b-10{
  margin-bottom: 20px;
  display: block;
}

.margin-t-20{
  margin-top: 20px;
}

.margin-t-10{
  margin-top: 10px;
}

.margin-t-5{
  margin-top: 5px;
}

.padding-20{
  padding: 20px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-b50 {
  margin-bottom: 50px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.margin-horizontal-05rem {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.center{
  margin: 0 auto;
}

// Visibility

.display-none{
  display: none !important;
}

.d-inline {
  display: inline;
}

.display-block{
  display: block !important;
}

// Sizing

.half-width {
  width: 50% !important;
}

.width-120 {
  width: 120px !important;
}

.width-90{
  width: 90%;
}

// Layout

.egret-navy .mat-drawer-container {
  background-color: white
}

// Flash messages

app-flash-messsage{
  mat-card.mat-card{
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

// States

.reactivate{
  color: $primary-color;
}

// Borders

.green-border {
  border-color: $primary-color !important;
}

// Colors

.grey-color{
  color: #8c8b8b;
}

// cards
.card-table,
.card-info,
.card-info.profile-section{
  @include font-lato;
  // shadow
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  // container
  position: relative;
  margin: 0 auto 32px;
  @include radius-box-card;
  &:last-child{
    margin-bottom: 0;
  }
  // decoration
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    height: 3px;
    width: 100%;
  }

  // labels
  .label-field,
  .profile-field{
    color: $primary;
    font-size: $default-font-size;
  }
  // names
  .label-info,
  .profile-info{
    color: $disabled-color;
    font-size: $font-size-md;
    min-height: 22px;
  }
  // headline section
  .section-header{
    font-weight: bold;
    font-size: $font-size-lg;
    color: $primary;
    margin-bottom: 32px;
  }
  .row-card{
    margin-bottom: 32px;
    &:last-child{
      margin-bottom: 0;
    }
    @include md{
      width: 85%;
      margin: 0 auto $row-card-margin-bottom auto;
    }
  }
}