.ngx-datatable.material {
  .datatable-header {
    position: relative;
    top: unset;
  }
  .datatable-body {
    padding-top: unset;
  }

  .cell-input {
    display: inline-block;
    width: 50px;
    padding: 5px 2px;
    border-radius: unset;
    border: 1px solid black;
  }
  .cell-input.inline-select {
    margin-left: 2px;
    width: 80px;
    padding: 4px;
  }
}

.ngx-datatable.material .datatable-body {
  padding: unset;
}
// header table
.ngx-datatable.material .datatable-header {
  border-bottom: 4px solid $primary-color;
  position: relative;
  top: unset;

  datatable-header-cell.datatable-header-cell,
  .datatable-header-cell {
    font-size: $default-font-size;
    line-height: 18px;
    color: $body-text-color;
    padding: 15px;
    font-weight: bold;
    .sort-btn{
      margin-left: 10px;
    }
  }
}
// pagination
.material.ngx-datatable .datatable-footer .datatable-pager .pager{
  a{
    color: $body-text-color;
    font-weight: 300;
    @include radius-button;
    &:hover{
      color: black;
    }
  }
  // arrows
  li:not(.disabled){
    i{
      color: $primary-color;
    }
  }
  // active
  .pages.active a{
    color: $primary-color;
    border-color: $primary-color;
    &:hover{
      color: $primary-color;
    }
  }
}
// body
.ngx-datatable.material .datatable-scroll {
  .datatable-body-row {
    .datatable-body-cell {
      font-size: $font-size-sm;
      line-height: 18px;
      color: $primary;
      padding: 15px;
      align-self: center;
      display: flex;
      flex-direction: column;
      > *{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
  .datatable-row-wrapper:last-child {
    .datatable-body-row {
      > div {
        border-bottom: none;
      }
    }
  }
  // action links
  .datatable-body-cell-label a{
    display: inline-block;
    margin: 0 !important;
    span{
      display: inline-block;
      padding: 0 10px;
      text-align: center;
      width: 170px;
    }
    &.edit-btn,
    &.edit{
      span{
        width: 80px;
      }
    }
    &.update-status{
      span{
        width: 100px
      }
    }
    &.send-password-btn{
      span{
        width: 200px;
      }
    }
    &.delete-btn{
      span{
        width: 100px;
      }
    }
  }
}

// page limit
.pagelimit-container{
  font-size: $font-size-xs;
  color: $body-text-color;
  font-weight: 300;
  text-align: right;
  padding: 15px 0;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  // label
  mat-label{
    font-size: $font-size-xs;
    color: $body-text-color;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
  }
  // select
  .mat-form-field{
    position: relative;
    z-index: 999;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle
  }
  .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 5px 0;
  }
  .mat-form-field-infix{
    width: 40px;
  }
  // select text
  .mat-select-value-text{
    font-size: $font-size-xs;
  }
  // arrow
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper{
    transform: none;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper,
  .mat-form-field-appearance-outline .mat-form-field-flex{
    margin: 0
  }
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    padding: 0;
    height: 0;
    margin: 0;
  }
}

// order table - arrow
.datatable-header [class*=" datatable-icon-"]:before{
  font-size: $icon-font-size;
}

// table responsive
.table-responsive{
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.table-default {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: max-content;
  
  .headline-table,
  thead {
    border-bottom: 4px solid $primary-color;
    th {
      color: $body-text-color;
      font-weight: bold;
      padding: 16px 5px;
    }
  }

  td {
    text-align: left;
    padding: 12px 5px;
    font-size: $font-size-sm;
    color: $primary;
  }
}
