.ngx-datatable.material {
  .datatable-header {
    position: relative;
    top: unset;
  }
  .datatable-body {
    padding-top: unset;
  }

  .cell-input {
    display: inline-block;
    width: 50px;
    padding: 5px 2px;
    border-radius: unset;
    border: 1px solid #000000;
  }
  .cell-input.inline-select {
    margin-left: 2px;
    width: 80px;
    padding: 4px;
  }
}

.ngx-datatable.material .datatable-body {
  padding: unset;
}

.ngx-datatable.material .datatable-header {
  border-bottom: 4px solid #00CD00;
  position: relative;
  top: unset;

  .datatable-header-cell {
    font-size: 16px;
    line-height: 18px;
    color: #000009;
    padding: 0.9rem 0.7rem;
  }
}

.ngx-datatable.material .datatable-scroll {
  .datatable-body-row {
    .datatable-body-cell {
      font-size: 16px;
      line-height: 18px;
      color: #4B4F5A;
      padding: 0.9rem 0.7rem;
      align-self: center;
    }
  }

  .datatable-row-wrapper:last-child {
    .datatable-body-row {
      > div {
        border-bottom: none;
      }
    }
  }
}

// page limit
.pagelimit-container{
  font-size: $font-size-xs;
  color: $body-text-color;
  font-weight: 300;
  text-align: right;
  padding: 15px 0;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  datatable-page-limit{
    position: relative;
    z-index: 2;
  }
  // label
  mat-label{
    font-size: $font-size-xs;
    color: $body-text-color;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle
  }
  // select
  .mat-form-field{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle
  }
  .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 5px 0;
  }
  .mat-form-field-infix{
    width: 40px;
  }
  // select text
  .mat-select-value-text{
    font-size: $font-size-xs;
  }
  // arrow
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper{
    transform: none;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper,
  .mat-form-field-appearance-outline .mat-form-field-flex{
    margin: 0
  }
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    padding: 0;
    height: 0;
    margin: 0;
  }
}