<div [formGroup]="form">
  <div class="header-form-section mt-32 mb-24">
    <span class="circle-number">1</span>{{ 'USER_INFORMATION' | translate }}
  </div>

  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <ng-container formGroupName="user">
      <div fxFlex="50" class="pr-1">
        <mat-label>{{'NAME' | translate}} *</mat-label>
        <input-disabled-with-icon
            controlName="name"
            placeholder="{{ 'NAME' | translate }}"
            [form]="form.get('user')"></input-disabled-with-icon>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-label>{{'EMAIL' | translate}} *</mat-label>
        <input-disabled-with-icon
            controlName="email"
            placeholder="{{ 'EMAIL' | translate }}"
            [form]="form.get('user')"></input-disabled-with-icon>
      </div>

      <div fxFlex="50" class="pr-1 mb-24">
        <mat-label class="d-block">{{ 'TELEPHONE_1' | translate }} *</mat-label>
        <phone-number-with-country-flag
            [form]="form.get('user')"
            [country]="form.get('user').get('phone_country')"
            [number]="form.get('user').get('phone_number')"></phone-number-with-country-flag>
      </div>

      <div fxFlex="50" class="pr-1 mb-24">
        <mat-label class="d-block">{{'TELEPHONE_2' | translate}}</mat-label>
        <phone-number-with-country-flag
            [form]="form.get('user')"
            [country]="form.get('user').get('secondary_phone_country')"
            [number]="form.get('user').get('secondary_phone_number')"></phone-number-with-country-flag>
      </div>

      <div fxFlex="50" class="pr-1 mb-24" *ngIf="showRoleField">
        <mat-label translate>ROLE_IN_COMPANY</mat-label>
        <input-disabled-with-icon
            controlName="role"
            [form]="form.get('user')"></input-disabled-with-icon>
      </div>
    </ng-container>

    <ng-container formGroupName="company" *ngIf="form.get('is_billing_function_shown').value">
      <div fxFlex="50" class="pr-1 mb-24">
        <mat-checkbox
            id="show-invoice"
            formControlName="has_billing_information"
            (change)="showBillingInformation($event)">
          {{ 'CONTACT_INVOICE' | translate }}
        </mat-checkbox>
      </div>
    </ng-container>

  </div>
</div>
