<div [formGroup]="form" class="user-info-fields">
  <p class="label-info font-weight-bold">
    <span>1</span> {{ 'USER_INFORMATION' | translate }}
  </p>

  <ng-container formGroupName="user">
    <div>
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
        <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label disabled>{{'NAME' | translate}} *</mat-label>
            <input-disabled-with-icon
              controlName="name"
              placeholder="{{ 'NAME' | translate }}"
              [form]="form.get('user')"></input-disabled-with-icon>
          </div>
        </div>

        <div fxFlex="50"fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label disabled>{{'EMAIL' | translate}} *</mat-label>
            <input-disabled-with-icon
              controlName="email"
              placeholder="{{ 'EMAIL' | translate }}"
              [form]="form.get('user')"></input-disabled-with-icon>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
        <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label disabled>{{ 'TELEPHONE_1' | translate }} *</mat-label>
            <phone-number-with-country-flag
              class="ful-width d-block"
              [form]="form.get('user')"
              [country]="form.get('user').get('phone_country')"
              [number]="form.get('user').get('phone_number')"></phone-number-with-country-flag>
          </div>
        </div>

        <div fxFlex="50"fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label disabled>{{'TELEPHONE_2' | translate}}</mat-label>
            <phone-number-with-country-flag
              class="ful-width d-block"
              [form]="form.get('user')"
              [country]="form.get('user').get('secondary_phone_country')"
              [number]="form.get('user').get('secondary_phone_number')"></phone-number-with-country-flag>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showRoleField">
      <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px">
        <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
          <div fxFlex="100" fxFlex.gt-sm="350px">
            <mat-label translate>ROLE_IN_COMPANY</mat-label>
            <input-disabled-with-icon
                controlName="role"
                [form]="form.get('user')"></input-disabled-with-icon>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-container formGroupName="company" *ngIf="form.get('is_billing_function_shown').value">
    <div fxLayout="row nowrap" fxLayout.lt-sm="column" class="full-width" fxLayoutGap.gt-xs="22px" class="mt-12">
      <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="center">
        <div fxFlex="100" fxFlex.gt-sm="350px">
          <mat-checkbox
              id="show-invoice"
              formControlName="has_billing_information"
              (change)="showBillingInformation($event)">
            {{ 'CONTACT_INVOICE' | translate }}
          </mat-checkbox>
        </div>
      </div>
      <div fxFlex="50" fxFlex="100" fxLayout="column wrap" fxLayout.gt-sm="row">
        <div fxFlex="100" fxFlex.gt-sm="350px">
        </div>
      </div>
    </div>
  </ng-container>
</div>
