<div class="base-container">
  <div class="box-detail table-layout">
    <div class="table-layout-wrap">
      <div class="header-container">
        <div class="header-nav">
          <h1 class="headline" translate>ROLES_AND_PERMISSION</h1>
          <p translate>
            MANAGE_ROLES_AND_PERMISSION
          </p>
        </div>
      </div>

      <div class="row-detail" animationDuration="0ms">
        <div class="filter-group">
          <a class="filter-item" [class.active]="role === ''" (click)="setRole('')" translate>ALL</a>
          <a *ngFor="let type of administratorRoleList" class="filter-item" [class.active]="role === type.value" (click)="setRole(type.value)" translate >{{ type.label }}</a>
        </div>
      </div>

      <div class="row-detail" animationDuration="0ms">
        <div fxLayout="row wrap" fxLayoutGap="22px">
          <div fxFlex="100" fxFlex.gt-xs="auto" fsLayout="row">
            <mat-form-field  fxFlex="100" fxFlex.gt-sm="453px" class="full-width mat-search" appearance="outline">
              <input
                matInput
                type="search"
                name="keyword"
                placeholder="{{ 'SEARCH_WITH_EMAIL_OR_NAME' | translate }}"
                class="mdc-text-field--no-label"
                (keyup)="searchUser($event.target.value)"
              />
              <mat-icon class="text-grey-B000" matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex="nogrow">
            <button mat-raised-button class="float-right add-new ml-05 mb-05 green-button" color="primary"  id="add-new" (click)="openPopUp({}, true)">
              + {{ 'ADD' | translate }} {{ 'USER' | translate | lowercase }}
            </button>
          </div>
        </div>
      </div>

      <div class="row-detail">
        <div class="row pagelimit-container">
          <datatable-page-limit [(limit)]="pageLimit"></datatable-page-limit>
        </div>
      </div>
    </div>

    <div animationDuration="0ms">
      <div class="clearfix table-container">
        <mat-card [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
          <mat-card-content>
            <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="rows"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
              [limit]="25"
              [rowHeight]="50"
              [messages]="datatableMessages"
            >
              <ngx-datatable-column sort-active name="{{ 'USER' | translate | titlecase }}" [flexGrow]="1" width="218">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.name }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'EMAIL' | translate }}" [flexGrow]="1" width="218">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.email }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'LAST_SESSION' | translate }}" [flexGrow]="1" width="115">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.current_sign_in_at | date: 'dd/MM/yyyy' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column sort-active name="{{ 'ROLE' | translate }}" [flexGrow]="1" width="140">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span translate>{{ row?.role | uppercase }}</span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ 'ACTIONS' | translate }}" [flexGrow]="1" width="393">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <a color="primary" class="mr-1 text-underline actions-btn" (click)="openPopUp(row)">
                    <span translate>EDIT</span>
                  </a>
                  <a color="warn" class="mr-1 text-underline actions-btn">
                    <span translate>RESTORE_PASSWORD</span>
                  </a>
                  <a color="warn" class="mr-1 text-underline actions-btn">
                    <span translate>MODIFY_PERMISSION</span>
                  </a>
                  <a color="warn" class="mr-1 text-underline actions-btn" (click)="deleteItem(row)">
                    <span translate>DELETE</span>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
