
.input-file-box {
  position: relative;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  .input-file {
    display: none;
  }

  .container {
    display: inline-block;
    width: 100%;
  }

  .file-box {
    display: inline-block;
    width: 100%;
    border: 1px dashed #00CD00;
    box-sizing: border-box;
    height: 46px;
    margin-top: 4px;
    padding: 12px 45px 12px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 2px;
  }

  .file-button {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .placeholder {
    color: #8B8B8B;

  }

  .file-upload-hint {
    font-size: 16px;
    color: #8B8B8B;
  }

  .file-upload-error {
    font-size: 16px;
    color: red;
  }
}