.header-topnav {
  margin: 0;
  padding: 0;
  background-color: $topbar-background-color;
  color: white;
  width: 100%;
  .container {
    padding: 0;
  }
  .topbar-branding {
    float: left;
    height: 65px;
    padding: 8px;
    margin: 0 8px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .topnav {
    display: flex;
    align-items: center;
    div.topbar-button-right{
      padding: 0 0 10px;
      margin: 15px 15px 25px !important;
      position:relative;
      @include font-lato;
      font-weight: 300;
      font-size: $font-size-lg;

      &:before{
        content: "";
        display: block;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        height: 4px;
        width: 0;
        @include anim-03;
      }
      &.active{
        font-weight: 400;
        &:before{
          width: 100%;
        }
      }
    }
  }
  .header-topnav-right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    padding-right: 0.67rem;
  }
}

@media (max-width: 959px) {
  .header-topnav-right {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

[dir='rtl'] {
  .header-topnav {
    .topnav {
      flex-direction: row-reverse;
    }
  }
}
