.app-admin-wrap {
  height: 100vh;
  overflow: hidden;
}
.app-admin-container {
  max-width: 100%;
  height: 100vh;

  .rightside-content-hold {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.333333rem;
    overflow-x: hidden;
    position: relative;
    min-height: 450px;
  }
}

.sidebar-panel {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 10001;
  width: $sidebar-width;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all $sidebarTrnTime $transitionTiming;
  transition: all $sidebarTrnTime $transitionTiming;
  overflow: hidden;
  .sidebar-hold {
    width: $sidebar-width;
  }
  .navigation-hold {
    position: absolute;
    height: calc(100% - 64px);
    width: 100%;
    margin-top: 64px;
    background: rgba(255, 255, 255, 0.95);
    left: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.main-content-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  height: 100vh;
  transition: width $sidebarTrnTime $transitionTiming;
  &.ps > .ps__rail-y {
    z-index: 9999;
  }
}

.sidebar-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: block;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all $sidebarTrnTime $transitionTiming;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

// --------
.app-admin-container.sidebar-full:not(.compact-toggle-active) {
  .sidebar-panel {
    width: $sidebar-width;
    overflow: hidden;
  }
}

.app-admin-container.sidebar-compact {
  .sidebar-panel,
  .sidebar-hold {
    width: $compact-sidebar-width;
  }
}

.app-admin-container.sidebar-compact-big {
  .sidebar-panel {
    width: $compact-big-sidebar-width;
    .branding {
      width: $compact-big-sidebar-width;
      .app-logo {
        margin: auto;
      }
    }
    .navigation-hold {
      overflow: visible !important;
    }
  }
}

.app-admin-container.sidebar-closed {
  .sidebar-panel {
    overflow: hidden;
    left: -$sidebar-width;
    .branding {
      left: -$sidebar-width;
    }
  }
}

.fixed-topbar {
  .rightside-content-hold {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
  }
}

.layout-intransition {
  .branding {
    display: none !important;
  }

  .app-user-controls,
  .app-user-name {
    opacity: 0 !important;
  }
}

.app-admin-container.sidebar-full.navigation-top {
  .sidebar-panel {
    left: 0;
  }
}
.app-admin-container.navigation-top {
  .main-content-wrap {
    float: none;
    width: 100%;
  }
  .rightside-content-hold {
    max-width: 1400px;
    min-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
  }
  .sidebar-panel {
    overflow: hidden;
    left: -$sidebar-width;
    .navigation-hold {
      margin-top: 48px;
      height: calc(100% - 48px);
    }
  }
}

[dir='rtl'] {
  &.app-admin-container.sidebar-closed {
    .sidebar-panel {
      right: -$sidebar-width;
    }
    .branding {
      left: auto !important;
      right: -$sidebar-width;
    }
  }
  .main-content-wrap {
    float: left;
  }
  .sidebar-panel {
    right: 0;
    left: auto !important;
  }
}

@media (max-width: 959px) {
  .app-admin-container.sidebar-full {
    .main-content-wrap {
      width: 100% !important;
    }
  }
}


// Container Layout
.base-container{
  max-width: 1156px;
  margin: 0 auto;
}
// Navigation Container Layout
.header-container{
  @include flex-content-row;
  align-items: center;
  margin-bottom: 62px;
  // container nav
  .header-nav{
    width: 100%;
  }
  // Container Title Layout
  .headline {
    @include font-lato;
    width: 100%;
    font-size: 30px !important;
    font-weight: bold !important;
    display: block !important;
    color: $dark-color !important;
    line-height: 1 !important;
  }
  // Container Breadcrumb Layout
  .breadcrumb{
    span,a{
      color: $body-text-color;
      font-size: $font-size-md;
      &:after{
        content: ">";
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
      }
      &:last-child:after{
        content: none;
      }
    }
    a{
      text-decoration: underline;
    }
  }
}

// box detail
.box-detail,
.box-detail.profile-section{
  @include font-lato;
  // shadow
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  // container
  position: relative;
  margin: 0 auto 32px;
  padding: 20px !important;
  @include md{
    padding: 32px 47px !important;
  }
  @include radius-box-card;
  &:last-child{
    margin-bottom: 0;
  }
  // decoration
  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    height: 3px;
    width: 100%;
  }
  // labels
  .label-field,
  .profile-field{
    color: $primary;
    font-size: $default-font-size;
  }
  // names
  .label-info,
  .profile-info{
    color: $disabled-color;
    font-size: $font-size-md;
    min-height: 22px;
  }
  .row-detail{
    margin-bottom: 32px;
    &:last-child{
      margin-bottom: 0;
    }
    @include md{
      width: 85%;
      margin: 0 auto $row-detail-margin-bottom auto;
      &.full-width{
      width: 100%;
      }
    }
  }
}


// Card Tables Layout
.box-detail.table-layout{
  padding: 0 !important;
  // wrap
  .section-info,
  .table-layout-wrap {
    padding: 32px;
    // nav header
    .header-container{
      margin-bottom: 32px;
    }
    // rows
    .row-detail{
      width: 100%;
      margin-bottom: 32px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    // headline
    .headline{
      font-size: 40px !important;
    }
    // page limit
    .pagelimit-container{
      text-align: center;
      padding-bottom: 50px;
      .pager{
        padding-top: 0;
      }
      @include lg{
        text-align: right;
        padding-bottom: 15px;
      }
      .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 5px 0;
      }
    }
    .pagelimit-container.border-top-0,
    .header-container + .row-detail + .row-detail .pagelimit-container{
      border-top: 0;
      padding-top: 0;
    }
    // select
    mat-label{
      color: $body-text-color;
    }
    // form field
    .mat-form-field{
      &.mat-form-field-appearance-outline .mat-form-field-infix{
        padding-top: 4px !important;
        padding-bottom: 4px !important;
      }
      &.mat-select-tot-style .mat-form-field-infix,
      &.mat-form-field-type-mat-input .mat-form-field-infix{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      &.mat-form-field-appearance-outline.form-field-default .mat-form-field-infix{
        padding: 20px 0 !important
      }
      // icon
      .mat-icon-button{
        width: 24px;
        height: 24px;
        top: 2px;
      }
    }
  }

  // data table
  .table-container{
    margin-top: -22px;
    padding: 0 32px 32px;
    .mat-card{
      margin: 0;
      box-shadow: none !important;
    }
    mat-card.mat-card{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    // header
    .datatable-header{
      border-bottom: 0 !important;
      position: relative;
      overflow: initial !important;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: -32px;
        background-color: $primary-color;
        height: 3px;
        width: calc(100% + 64px);
      }
      .datatable-header-inner{
        overflow: hidden;
        width: 100% !important;
      }
    }
    // pagination
    .ngx-datatable.material .datatable-footer{
      bottom: calc(100% + 15px);
      top: auto;
      margin-top: 0;
      datatable-pager{
        text-align: center;
      }
    }
  }
}

// wrap
.section-info{
  border-top: 3px solid $primary-color;
  padding: 32px;
}

// headline section
.section-header{
  font-weight: bold;
  font-size: $font-size-lg;
  color: $primary;
  margin-bottom: 32px;
}


// split
.split{
  height: 1px;
  margin: 42px 0;
  background-color: $disabled-button-background;
}