.top-message-form{
  margin-bottom: 15px;
}

.form-info-msg{
  color: #1100ff;
}

.icon-menu.mb-1.ng-star-inserted{
  text-align: center;
}

.text-right-important{
  text-align: right !important;
}

.xs-column{
  width: 45px !important;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.display-none{
  display: none !important;
}

.half-width {
  width: 50% !important;
}

.pd-bt-40 {
  padding-bottom: 40px !important;
}

.pd-tp-40 {
  padding-top: 40px !important;
}

.border-bt-normal {
  border-bottom: 1px solid #00CD00;
}

.border-bt-solid-4 {
  border-bottom: 4px solid #00CD00;
}