.top-message-form{
  margin-bottom: 15px;
}

.form-info-msg{
  color: #1100ff;
}

.icon-menu.mb-1.ng-star-inserted{
  text-align: center;
}

.text-right-important{
  text-align: right !important;
}

.xs-column{
  width: 45px !important;
}

.margin-bottom-15{
  margin-bottom: 15px;
}

.display-none{
  display: none !important;
}

.half-width {
  width: 50% !important;
}

.pd-bt-40 {
  padding-bottom: 40px !important;
}

.pd-tp-40 {
  padding-top: 40px !important;
}

.border-bt-normal {
  border-bottom: 1px solid #00CD00;
}

.border-bt-solid-4 {
  border-bottom: 4px solid #00CD00;
}

.tot-default-submit-btn {
  font-style: normal;
  font-size: 18px !important;
  line-height: 22px !important;
  text-align: center !important;
  color: #232731 !important;
  background: linear-gradient(282.9deg, #00CD00 40.4%, #7AF003 96.06%) !important;
  border-radius: 2px; font-weight: normal !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  min-width: 170px !important;
  padding: 18px 35px !important;

  &.outline-btn {
    color: rgba(35, 39, 49, 0.8) !important;
    background: #FFFFFF !important;
    border: 1px solid #4B4F5A !important;
    box-sizing: border-box !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  }
}
.text-underline {
   text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}