<div class="height-100 mb-70">
  <div class="pl-1">
    <div class="alert alert-danger" *ngIf="!!errorsMessages">
      {{ errorsMessages }}
    </div>

    <div class="header-profile mb-40" translate *ngIf="!currentUser.completed_profile">
      COMPLETE_PROFILE
    </div>

    <flash-messsage-auto-hide
        [options]="messageOptions" class="margin-b-50"></flash-messsage-auto-hide>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-user-info-fields
          [form]="form"
          showRoleField="true"></app-user-info-fields>

      <ng-container *ngIf="this.user.isCompanyShown">
        <hr class="width-80 mb-12 mt-12" />
        <company-fields [form]="form" type="{{ user.typeOfCompany() }}"></company-fields>
      </ng-container>

      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div fxFlex="100" class="mt-1 mr-1" style="text-align: center;">
          <button mat-stroked-button color="primary" [disabled]="form.invalid" type="submit" id="submit-btn">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
