.header-profile {
  font-size: 20px;
  text-align: center;

  color: #4b4f5a;
}
.section-1 {
  font-size: 20px;
  line-height: 25px;

  color: #4b4f5a;
  .circle-number {
    border: 2px solid #4b4f5a;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
  }
}
.mat-stroked-button {
  background: #4b4f5a;
  border-radius: 2px;
  padding: 5px 36px;
  &.mat-primary {
    color: white !important;
    font-size: 16px;
  }
}

mat-label {
  display: block;
  &[disabled] {
    color: #b0b0b0;
  }
}
