<div class="base-container">
  <div class="box-detail">
    <div class="alert alert-danger" *ngIf="!!errorsMessages">
      {{ errorsMessages }}
    </div>

    <div class="header-profile mb-40" translate *ngIf="!currentUser.completed_profile">
      COMPLETE_PROFILE
    </div>

    <flash-messsage-auto-hide
        [options]="messageOptions"></flash-messsage-auto-hide>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mt-24">
        <app-user-info-fields
            [form]="form"
            showRoleField="true"></app-user-info-fields>
      </div>
      
      <div class="mt-24">
        <ng-container *ngIf="this.user.isCompanyShown">
          <company-fields [form]="form" type="{{ user.typeOfCompany() }}"></company-fields>
        </ng-container>
      </div>

      <div class="split my-24"></div>

      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div fxFlex="100" class="mt-1 mr-1" style="text-align: center;">
          <button  mat-flat-button class="tot-default-submit-btn" [disabled]="form.invalid" type="submit" id="submit-btn">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>