<div class="base-container">
  <div class="box-detail">
    <div class="header-container">
      <div class="header-nav">
        <h1 class="headline" translate>
        {{'STRATEGY_FORM_TITLE' | translate}}
        </h1>
      </div>
    </div>
  </div>
  <div class="box-detail">
    <div class="alert alert-danger mb-24" *ngIf="!!errorsMessages">
      {{ errorsMessages }}
    </div>
    <div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div fxLayout="row nowrap" fxLayout.lt-md="column">
          <div fxFlex="100" fxFlex.gt-sm="200px" fxFlex.gt-md="240px" class="py-10">
            <div class="row-detail">
                <p class="bold-text">
                    {{ 'STEPS_TO_CREATE_STRATEGY' | translate }}
                </p>
            </div>

            <div class="row-detail">
                <ul class="checkmark-list">
                    <li>
                        <mat-icon matSuffix class="checkmark-icon material-icons {{getClassForStep(2)}}">
                            check_circle
                        </mat-icon>
                        <span>{{ 'MARKET_SELECTION' | translate }}</span>
                        <ul class="child-list">
                            <li [class]="getClassForStep(1)">
                                <mat-icon matSuffix class="checkmark-icon material-icons ">
                                    circle
                                </mat-icon>
                                {{ 'PROFILING' | translate }}
                            </li>
                            <li [class]="getClassForStep(2)">
                                <mat-icon matSuffix class="checkmark-icon material-icons ">
                                    circle
                                </mat-icon>
                                {{ 'GEOPOLITICAL_SCOPE' | translate }}
                            </li>
                        </ul>
                    </li>
                    <li>
                        <mat-icon matSuffix class="checkmark-icon material-icons {{getClassForStep(3)}}">
                            check_circle
                        </mat-icon>
                        <span>{{ 'SPONSOR' | translate }}</span>
                    </li>
                    <li>
                        <mat-icon matSuffix class="checkmark-icon material-icons {{getClassForStep(4)}}">
                            check_circle
                        </mat-icon>
                        <span>{{ 'STRATEGY_MATRIX' | translate }}</span>
                        <ul class="child-list">
                            <li [class]="getClassForStep(4)">
                                <mat-icon matSuffix class="checkmark-icon material-icons ">
                                    circle
                                </mat-icon>
                                {{ 'ABOUT_STRATEGY' | translate }}
                            </li>
                            <li [class]="getClassForStep(5)">
                                <mat-icon matSuffix class="checkmark-icon material-icons ">
                                    circle
                                </mat-icon>
                                {{ 'CONDITIONS' | translate }}
                            </li>
                        </ul>
                    </li>
                    <li>
                        <mat-icon matSuffix class="checkmark-icon material-icons {{getClassForStep(6)}}">
                            check_circle
                        </mat-icon>
                        <span>{{ 'STRATEGY_APLICATION' | translate }}</span>
                    </li>
                </ul>
            </div>
          </div>

          <!-- split -->
          <div fxFlex fxFlex.gt-sm="69px">
              <div class="split" fxHide.gt-sm>
              </div>
              <div class="vertical-split" fxHide.lt-sm>
              </div>
          </div>

          <div fxFlex="100" fxFlex.gt-sm class="py-10">
            <!-- Form Step 1 -->
            <div *ngIf="doesShowStepForm(1)">
                <div class="row-detail">
                    <h2 class="label-info">Perfilado del mercado</h2>
                    <p class="mb-0">
                        Seleccione aquellos criterios que le ayudarán a definir el mercado meta para la estrategia
                    </p>
                </div>
                <div class="row-detail">
                    <div>
                        <mat-checkbox
                            (change)="useSavedProfile($event)"
                            [checked]="!!strategy.strategy_profile_id">
                            Utilizar un perfil guardado
                        </mat-checkbox>
                    </div>
                </div>
                <div class="row-detail">
                    <mat-form-field appearance="outline" class="mat-form-filled full-width" *ngIf="isSelectedSavedProfile">
                        <mat-select formControlName="strategy_profile_id" name="strategy_profile_id" (selectionChange)="setProfileAttributes($event)">
                        <mat-option value=""></mat-option>
                        <mat-option *ngFor="let profile of profiles" [value]="profile.id">
                            {{ profile.name }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row-detail">
                    <mat-label>{{ 'DELIMIT_BY_CLIENT_STATUS' | translate }}</mat-label>
                </div>
                <div class="row-detail">
                    <mat-radio-group name="client_status" formControlName="client_status">
                        <mat-radio-button value="active" class="mr-1">
                        <label class="label-field">{{ 'ACTIVE' | translate }}</label>
                        </mat-radio-button>
                        <mat-radio-button value="inactive">
                        <label class="label-field">{{ 'INACTIVE' | translate }}</label>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="row-detail">
                    <mat-label>Delimitar por edad el mercado meta</mat-label>
                </div>
                <div class="row-detail" fxLayout="row nowrap" fxLayoutGap="22px" fxLayoutAlign="center center" >
                    <div>
                        <mat-label>{{'Mayores de'}}</mat-label>
                        <mat-form-field appearance="outline" class="mat-form-filled full-width">
                            <input matInput
                            type="number"
                            formControlName="age_min_limit"
                            name="age_min_limit"
                            id="age-min-limit-input"
                            placeholder="{{ 'YEARS_OLD' | translate }}"
                            (change)="setAgeRange()"
                            />
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-label class="form-label">{{'Menores de'}}</mat-label>
                        <mat-form-field appearance="outline" class="mat-form-filled full-width input-60-percent-width">
                            <input matInput
                            type="number"
                            formControlName="age_max_limit"
                            name="age_max_limit"
                            id="age-max-limit-input"
                            placeholder="{{ 'YEARS_OLD' | translate }}"
                            (change)="setAgeRange()"
                            />
                        </mat-form-field>
                    </div>

                    <div fxFlex="auto" class="">
                      <mat-checkbox
                      (change)="selectAllAges($event)"
                      formControlName="all_ages_selected"
                      name="all_ages_selected"
                      id="all-ages-selected-input"
                      >
                          {{ 'ALL' | translate }}
                      </mat-checkbox>
                    </div>
                </div>
                <div class="row-detail">
                    <mat-label>Delimitar por género del mercado meta</mat-label>
                </div>
                <div class="row-detail">
                    <div>
                        <mat-radio-group name="gender_of_target_market" formControlName="gender_of_target_market">
                            <div fxLayout="row wrap" class="align-self-center">
                            <div fxFlex="auto">
                                <mat-radio-button value="male">
                                <label>{{ 'male' | translate }}</label>
                                </mat-radio-button>
                            </div>
                            <div fxFlex="auto">
                                <mat-radio-button value="female">
                                <label>{{ 'female' | translate }}</label>
                                </mat-radio-button>
                            </div>
                            <div fxFlex="auto">
                                <mat-radio-button value="other">
                                <label>{{ 'other' | translate }}</label>
                                </mat-radio-button>
                            </div>
                            <div fxFlex="auto">
                                <mat-radio-button value="unset">
                                <label>{{ 'unset' | translate }}</label>
                                </mat-radio-button>
                            </div>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <!-- Form Step 2 -->
            <div *ngIf="doesShowStepForm(2)">
                <div class="row-detail">
                    <h2 class="label-info">Perfilado del mercado</h2>
                    <p class="mb-0">
                        Seleccione aquellos criterios que le ayudarán a definir el mercado meta para la estrategia
                    </p>
                </div>
                <div class="mt-24 row-detail">
                    <mat-label>{{'Delimitar geográficamente el mercado meta'}}</mat-label>
                    <div class="mt-16">
                        <mat-form-field appearance="outline" class="mat-search mat-form-filled full-width no-subscript">
                            <input matInput id="search-geographically-target-market-input"
                            placeholder="{{ 'SEARCH_BY_GEOPOLITICAL_REFERENCE' | translate }}"
                            (input)="searchNodes($event)"
                            />
                            <mat-icon class="text-grey-B000" matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row-detail">
                    <div fxFlex="100" class="align-self-center">
                        <div id='tree-parent'>
                        <ejs-treeview
                            #listTreeObj
                            id='tree-element'
                            [fields]='field'
                            [showCheckBox]='showCheckBox'
                            (nodeChecked)='locationNodeChecked($event)'>
                        </ejs-treeview>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form Step 3 -->
            <div *ngIf="doesShowStepForm(3)">
                <div class="row-detail">
                    <h2 class="label-info">{{ 'SPONSOR' | translate }}</h2>
                    <p class="mb-0">
                        Seleccione aquellos criterios que le ayudarán a definir el mercado meta para la estrategia
                    </p>
                </div>
                <div class="row-detail">
                    <div class="align-self-center">
                        <div>
                            <mat-label>{{'SPONSOR' | translate}} *</mat-label>
                            <mat-form-field appearance="outline" class="mat-form-filled full-width">
                                <mat-select formControlName="benefits_provider_commerce_id"
                                name="benefits_provider_commerce_id"
                                (selectionChange)="setSponsorName($event)">
                                <mat-option *ngFor="let sponsor of sponsors" [value]="sponsor.id">
                                    {{ sponsor.name }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row-detail">
                    <p class="mb-5">
                        {{ 'DELIMIT_BY_LOCATION' | translate }}
                    </p>
                    <mat-label>
                        {{ 'LOCATIONS_DESCRIPTION' | translate }}
                    </mat-label>
                    <div class="mt-16">
                        <div class="align-self-center">
                            <!-- This is temporary data, while is being documented this feature -->
                            <div id='locations'>
                            <ejs-treeview
                                #locationnListTreeObj
                                id='locations-tree-element'
                                [fields]='location_fields'
                                [showCheckBox]='showCheckBox'>
                            </ejs-treeview>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form Step 4 -->
            <div *ngIf="doesShowStepForm(4)">
                <div class="row-detail">
                    <h2 class="label-info">Acerca de la estrategia</h2>
                    <p class="mb-0">
                        Los espacios con (*) son requeridos para poder añadir la estrategia
                    </p>
                </div>
                <div class="row-detail">
                    <div>
                        <mat-label>Nombre de la estrategia *</mat-label>
                        <mat-form-field appearance="outline" class="mat-form-filled full-width">
                            <input matInput formControlName="name" name="name" id="name-input" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Descripción</mat-label>
                        <mat-form-field appearance="outline" class="mat-form-filled full-width">
                            <input matInput formControlName="description" name="description" id="description-input" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-label>Tipo de estrategia *</mat-label>
                        <mat-form-field appearance="outline" class="mat-form-filled full-width mb-24">
                            <mat-select formControlName="strategy_type_id" name="strategy_type_id">
                            <mat-option *ngFor="let strategyType of strategyTypes" [value]="strategyType.id">
                                {{ strategyType.name }}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- Form Step 5 -->
            <div *ngIf="doesShowStepForm(5)">
                <div class="row-detail">
                    <h2 class="label-info">Condiciones para la estrategia</h2>
                    <p class="mb-0">
                        Los espacios con (*) son requeridos para poder añadir la estrategia
                    </p>
                </div>

                <div class="row-detail">
                    <mat-label>{{'UPLOAD_TERMS_AND_CONDITIONS' | translate}} *</mat-label>
                    <app-upload-file
                    name="terms_and_conditions_url"
                    [control]="form.controls.terms_and_conditions_url"
                    [inputId]="'terms-and-conditions-url'"
                    placeholder="Seleccione un archivo">
                    </app-upload-file>
                </div>
                <div class="row-detail">
                    <mat-label>¿Cuantas veces se puede canjear? *</mat-label>
                    <div class="mt-12">
                        <mat-radio-group name="can_be_exchanged" formControlName="can_be_exchanged">
                            <mat-radio-button value="does_not_apply" class="mr-1" (change)="showAmountOfTimesInput($event)">
                            <label>{{ 'DOES_NOT_APPLY' | translate }}</label>
                            </mat-radio-button>
                            <mat-radio-button value="amount_defined" (change)="showAmountOfTimesInput($event)">
                            <label>{{ 'AMOUNT_DEFINED' | translate }}</label>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row-detail">
                    <mat-form-field
                    appearance="outline"
                    class="mat-form-filled full-width"
                    *ngIf="amountOfTimesInputEnabled || strategy.can_be_exchanged == 'amount_defined'">
                        <input matInput
                            formControlName="amount_of_times_can_be_exchanged"
                            name="amount_of_times_can_be_exchanged"
                            type="number"
                            id="amount-of-times-can-be-exchanged-input" />
                    </mat-form-field>
                </div>
            </div>

            <!-- Form Step 6 -->
            <div *ngIf="doesShowStepForm(6)">
                <div class="row-detail">
                    <h2 class="label-info">Aplicación de la estrategia</h2>
                    <p class="mb-0">
                        Los espacios con (*) son requeridos para poder añadir la estrategia
                    </p>
                </div>

                <div class="row-detail">
                    <mat-label>Seleccione la imagen publicitaria para esta estrategia *</mat-label>
                    <app-upload-file
                    name="logo_url"
                    [control]="form.controls.logo_url"
                    [inputId]="'logo_url-input'"
                    [fileName]="''"
                    placeholder="+ Agregar imagen publicitaria">
                    </app-upload-file>
                </div>

                <div class="row-detail">
                    <mat-label>Seleccione la fecha de inicio para la estrategia *</mat-label>
                    <mat-form-field appearance="outline" class="mat-form-filled full-width">
                        <input matInput
                        formControlName="initial_date"
                        name="initial_date"
                        id="initial-date-input"
                        placeholder="DD / MM / YY"
                        type="date"
                        />
                    </mat-form-field>
                </div>

                <div>
                    <mat-label>Seleccione la fecha de vencimiento para la estrategia *</mat-label>
                    <div class="mt-12 expiration_option">
                        <mat-radio-group name="expiration_option" formControlName="expiration_option">
                            <div fxLayout="row wrap" fxLayout.lt-sm="column">
                            <mat-radio-button value="defined" class="mr-1" (change)="showEndDateInput($event)">
                                <label>Establecer fecha de vencimiento</label>
                            </mat-radio-button>
                            </div>

                            <div fxLayout="row wrap"
                            fxLayout.lt-sm="column"
                            *ngIf="endDateInputEnabled || strategy.expiration_option == 'defined'">
                            <div fxFlex="50">
                                <mat-form-field appearance="outline" class="mat-form-filled full-width">
                                <input matInput
                                    formControlName="end_date"
                                    name="end_date"
                                    id="end-date-input"
                                    placeholder="DD / MM / YY"
                                    type="date"
                                />
                                </mat-form-field>
                            </div>
                            </div>

                            <div fxLayout="row wrap" fxLayout.lt-sm="column">
                            <mat-radio-button value="undefined" (change)="showEndDateInput($event)">
                                <label>Sin definir</label>
                            </mat-radio-button>
                            </div>

                            <div fxLayout="row wrap" fxLayout.lt-sm="column">
                            <mat-radio-button value="while_supplies" (change)="showEndDateInput($event)">
                                <label>Hasta agotar existencias</label>
                            </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <div class="text-center btn-actions mt-50" fxLayout="row wrap">
                <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-20 mb-50">
                    <button mat-flat-button type="button"
                    class="outline-btn btn-no-border-radius mr-1 btn-no-bg tot-default-submit-btn cancel-btn"
                    routerLink="/dashboard/strategies">
                    {{ 'CANCEL' | translate }}
                    </button>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-20 mb-50">
                    <button mat-flat-button type="button"
                    class="tot-default-submit-btn"
                    color="primary"
                    (click)="continue()"
                    [disabled]="doesEnableContinueButton(currentFormStep)"
                    *ngIf="!doesShowStepForm(6)">
                    {{ 'CONTINUE' | translate }}
                    </button>

                    <button mat-flat-button color="primary" class="btn-no-border-radius tot-default-submit-btn" id="submit-btn"
                    *ngIf="doesShowStepForm(6)">
                    {{ 'SAVE' | translate }}
                    </button>
                </div>
            </div>
          </div>

          <!-- split -->
          <div fxFlex fxFlex.gt-sm="69px">
              <div class="split" fxHide.gt-sm>
              </div>
              <div class="vertical-split" fxHide.lt-sm>
              </div>
          </div>

          <div fxFlex="100" fxFlex.gt-sm="200px" fxFlex.gt-md="240px" class="py-10" class="right-panel-summary">
            <div class="row-detail">
                <p>
                    {{ 'SUMMARY' | translate }}
                </p>
                <p>
                {{ 'MARKET_SIZE_DEFINED' | translate }}
                </p>
            </div>

            <div class="row-detail">
                <div fxLayout="row wrap" fxLayout.lt-sm="column">
                    <div fxFlex>
                        <mat-progress-bar mode="determinate"
                        [value]="percentageOfCustomersTargeted"
                        class="market-percentage" color="black">
                        </mat-progress-bar>
                    </div>

                    <div class="pl-10 mb-5 market-percentage-number" fxFlex="50px">
                        {{ percentageOfCustomersTargeted }}%
                    </div>
                </div>
                <div>
                    <mat-label class="note-description">{{ 'NUMBER_OF_USERS' | translate }}</mat-label>
                </div>
            </div>

            <div class="mb-22">
                <div>
                    <mat-label class="mb-24">
                        {{ 'PROFILING' | translate }}
                    </mat-label>
                    <div fxLayout="row wrap" >
                        <div fxFlex="150px">
                            <mat-label>
                                {{ 'STATUS' | translate }}:
                            </mat-label>
                        </div>
                        <div fxFlex>
                            {{ this.form.controls.client_status.value | uppercase | translate }}
                        </div>
                    </div>
                    <div fxLayout="row wrap" >
                        <div fxFlex="150px">
                            <mat-label>
                                {{ 'AGE_RANGE' | translate }}:
                            </mat-label>
                        </div>
                        <div fxFlex>
                            {{ ageRangeLabel }}
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex="150px">
                            <mat-label>
                                {{ 'SELECTED_GENRE' | translate }}:
                            </mat-label>
                        </div>
                        <div fxFlex>
                            {{ this.form.controls.gender_of_target_market.value | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-22">
                <mat-label>
                    {{ 'GEOGRAPHICAL_SCOPE' | translate }}
                </mat-label>

                <div class="max-container-summary">
                    <div *ngFor="let item of selectedGeographicalLocations">
                        {{ item.name }}
                    </div>
                </div>
            </div>

            <div class="mb-22">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="end center">
                    <a class="text-underline primary-color" (click)="openProfilePopUp()">
                        {{ 'SAVE_PROFILE' | translate }}
                    </a>
                </div>
            </div>

            <div class="mb-22">
                <mat-label>
                    {{ 'SPONSOR' | translate }}
                </mat-label>

                <div>
                    {{ sponsorName }}
                </div>
            </div>
            <div class="mb-22">
                <mat-label>
                    {{ 'STRATEGY' | translate }}
                </mat-label>

                <div>
                    {{ this.form.controls.name.value }}
                </div>

                <div>
                    {{ this.form.controls.description.value }}
                </div>
            </div>
            <div>
                <div fxLayout="row wrap">
                    <div fxFlex="150px">
                        <mat-label>
                            {{ 'CONDITIONS' | translate }}
                        </mat-label>
                    </div>

                    <div class="input-info" fxFlex>
                        {{ this.form.controls.can_be_exchanged.value | uppercase | translate }}
                    </div>
                </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
